Package: fk-fdp-spark
Version: 2.0.0.fk.1
Architecture: any
Depends: java8-runtime, Hadoop (>= 2.7)
Description: Apache Spark is a data processing engine with the ability of in-memory processing of data.
